<!DOCTYPE html>
<html>
  <body>
    <body>
    <form class="form-signin" action="/supplier/edit/<%=data_supplier[0].id%>" method="post">
        <h2>Supplier Details</h2><br>
        <input type="text" class="form-control" name="name" placeholder="Supplier Name"/><br>
        <input type="text" class="form-control" name="kota" placeholder="Supplier City"/><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button><br>
    </form>
</body>
</html>